<div class="table_book">
    {{#if book}}
    <table>
        <tr>
            <thead>
                <th>Name </th>
                <th>Author </th>
                <th>Genre</th>
            </thead>
        </tr>
        <tbody>
            {{#each book}}
            <tr>
                <td>
                    {{title}}
                </td>
                <td>
                    {{author.name}}
                </td>
                <td>
                    {{genre.name}}
                </td>
                <td>
                    <a href="/book/delete/{{id}}" class="waves-effect waves-light btn"
                        style="background: #e53935">Delete</a>
                </td>
                 <td>
                    <a href="/book/update/{{id}}" class="waves-effect waves-light btn"
                        style="background: #58e535">Update</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    {{else}}
    <h2>Books are empty</h2>
    {{/if}}
</div>